# Copy this file to .env and replace with your real keys.

# For google gemini, go to https://aistudio.google.com/app/api-keys 
# and create an API key, then copy and paste it here.
export GOOGLE_API_KEY="AIzaSyBGVyCtR-fIxIVnritQRiI01VDZhQdr--Q"

# For nvidia gemini, go to https://developer.nvidia.com/gemini and create an API key, 
# then copy and paste it here.
export NVIDIA_API_KEY="your_nvidia_api_key_here"
